@font-face {
  font-family: 'iconfont';  /* Project id 4872219 */
  src: url('//at.alicdn.com/t/c/font_4872219_0p3bsbo0xnq.woff2?t=1749178565518') format('woff2'),
       url('//at.alicdn.com/t/c/font_4872219_0p3bsbo0xnq.woff?t=1749178565518') format('woff'),
       url('//at.alicdn.com/t/c/font_4872219_0p3bsbo0xnq.ttf?t=1749178565518') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 'scale(1.2)'
}

.icon-a-qq2:before {
  content: "\e7d4";
}

.icon-weibo:before {
  content: "\e7d5";
}

.icon-weixin:before {
  content: "\e7d6";
}

.icon-shanxingtu:before {
  content: "\e7d7";
}

.icon-a-tianjia4:before {
  content: "\e7ef";
}

